h1 {
  font-size: 2em;
  font-weight: 400;
}

h2 {
  font-size: 1.8em;
  font-weight: 400;
}

nav {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: linear-gradient(180deg, rgba(255,255,255,1) 20%, rgba(255,255,255,0) 100%);
  box-shadow: -1px 10px 10px 0px rgba(0,0,0,0.2);
}

#navbarUsername {
  font-weight: bold;
}

#signinPassword {
  display: none;
}
#signinInputAuthuser { 
  display: none;
}

#main, #feed, #goals, #dates, #mobileconfig, #signin, #settingsDashboard, #settingsOtp {
  padding-top: 78px;
}

#tail {
  padding-top: 56px;
}

#mainFormName {
  font-weight: 500;
}

#mainFormButtonSubmit {
  width: 86px;
}

.signin-avatar-picker {
  margin: 60px auto 10px auto;
}

.signin-avatar-picker-choice {
  cursor: pointer;
  display: inline-block;
  margin: 0 15px;
}

.signin-avatar-picker-choice span {
  display: block;
  margin: 10px auto 0 auto;
}

.feed-table {
  margin: 10px 0;
  padding: 10px 0;
  width: 100%;
}

.feed-username {
  display: inline;
}

.feed-avatar, .feed-content-left {
  vertical-align: top;
  width: 80px;
}

.feed-content {
  overflow-wrap: anywhere;
  white-space: pre-wrap;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
    color: #DEDAD6;
  }
  nav {
    background: linear-gradient(180deg, rgba(0,0,0,1) 20%, rgba(0,0,0,0) 100%);
  }
  .form-control, .form-control:focus {
    background-color: #000;
    color: #B6AFA8;
  }
}