h1 {
  font-size: 2em;
  font-weight: 400;
}

h2 {
  font-size: 1.8em;
  font-weight: 400;
}

#navbarUsername {
  font-weight: bold;
}

#signinPassword, #signinError {
  display: none;
}

#main, #feed, #goals, #dates, #mobileconfig, #signin {
  padding-top: 78px;
}

#mainFormName {
  font-weight: 500;
}

#mainFormButtonSubmit {
  width: 86px;
}

.signin-avatar-picker {
  margin: 60px auto 10px auto;
}

.signin-avatar-picker-choice {
  cursor: pointer;
  display: inline-block;
  margin: 0 15px;
}

.signin-avatar-picker-choice span {
  display: block;
  margin: 10px auto 0 auto;
}

.feed-table {
  padding-bottom: 20px;
  width: 100%;
}

.feed-username {
  display: inline;
}

.feed-avatar, .feed-content-left {
  vertical-align: top;
  width: 80px;
}

.feed-content {
  white-space: pre-wrap;
}

.feed-actions {
  display: none;
}
