h1 {
  font-size: 2em;
  font-weight: 400;
}

h2 {
  font-size: 1.8em;
  font-weight: 400;
}

#navbarUsername {
  font-weight: bold;
}

#main, #feed, #goals, #dates {
  padding-top: 78px;
}

#mainFormName {
  font-weight: 500;
}

#mainFormButtonSubmit {
  width: 86px;
}

.feed-table {
  width: 100%;
  padding-bottom: 20px;
}

.feed-username {
  display: inline;
}

.feed-avatar, .feed-content-left {
  vertical-align: top;
  width: 80px;
}

.feed-content {
  white-space: pre-wrap;
}

.feed-actions {
  display: none;
}
